body {
    margin: 0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 8fr 100fr 8fr;
    border: solid 1px rgb(27, 25, 25);
    height: 900px;

}

header {
    background-color: orangered;
    grid-column: 1/5;
    
}

main {
    background-color: aquamarine;
    grid-column: 1/3;

}

section {
    background-color: rgb(159, 62, 35);
    grid-column: 4/5;

}


footer {
    background-color: green;
    grid-column: 1/5;
}

